@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Montserrat:wght@400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-header-text: #202329;
  --color-main-text: #f5f5f5;
  --color-text-dark: #9c9c9d;
  --color-body-background: #24282f;
  --color-footer-background: #202329;
  --color-background-card: #3c3e44;
  --color-cta: #ff9800;
  --font-family-headline: 'Raleway', sans-serif;
  --font-family-text: 'Montserrat', sans-serif;
  --border-radius: 15px;
}

body {
  margin: 0;
  height: 100vh;
}

h1,
h2 {
  font-family: var(--font-family-headline);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.header {
  background-color: #fff;
  color: var(--color-header-text);
  text-align: center;
  padding: 4rem 2rem;
}

.main {
  background-color: var(--color-body-background);
  color: var(--color-main-text);
  font-family: var(--font-family-text);
  padding: 2rem 2rem;
}

.cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(35em, 1fr));
}

.footer {
  background-color: var(--color-footer-background);
  color: var(--color-text-dark);
  font-family: var(--font-family-text);
  text-align: center;
  padding: 4rem 2rem;
}
